@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
body{
    line-height: 1.5;
    font-family: 'poppins',sans-serif;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:'Robot,'sans-serif;
}
.container{
    padding: 80px 30%  0 20%;
}
.Login-Form{
    flex-basis: 60%;
}
.Login-Form h2{
    padding-top: 20px;
    padding-bottom: 20px;
}

.Login-Form form{
    width: 100%;
   
    

}
form input{
    width: 100%;
    border: 0;
    outline: none;
    background: whitesmoke;
    padding: 15px;
    margin: 15px 0;
    color: #000;
    font-size: 18px;
    border-radius: 6px;
    flex-wrap: wrap;

}
form .btn2{
    padding: 14px 60px;
    font-size: 15px;
    margin-top: 20px;
    margin-bottom: 50px;
    cursor: pointer;
    background:rgb(86, 82, 82);
    color:white;
    border-radius: 5px;
}
form .btn2:hover{
    background-color:  rgb(75, 75, 160);
    color: #fff;
    transform: translateY(-5px);
}
.Login-Form a{
    text-decoration: none;
    padding-left: 40px;
}

