@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
body{
    line-height: 1.5;
    font-family: 'poppins',sans-serif;
    margin: auto;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:'Robot,'sans-serif;
}
.main_container{
    flex-direction: row;
    display: flex;
}

   /* for this page only */
   .alb{
    width:230px;
    height:350px;
    padding:10px;
    display:inline-block;
    background: rgb(236, 236, 236);
    border-radius: 8px;
    margin-left: 16px;
  

}

.alb img{
    width:99%;
    height:65%;
    border-radius:6px;
    margin-top: 5px;
    
}
.alb p{
    font-size:12px;
    color: black;
    margin-left: 10px;
  
}
.wel{
    padding-left:15px;
    padding-right:15px;
   
}
.alb a{
  text-decoration:none;
}

.btn{
    padding: 12px;
    position: relative;
    right: 24em;
    background: #e91e63;
    border: none;
    gap: 4px;
    margin: 3px;
    color: white;
    border-radius: 5px;
    /* position: sticky;
    bottom: 12px; */

}

.btn > a{
    color: white;
    text-decoration: none;
}





.btn2{
    padding:8px;
    background: white;
    border:none;
    border-radius:1px;
    cursor: pointer;
    font-weight:600;
    border:1px solid  #e91e63;
    width:40%;

}
.btn2:hover{
    transition:all 0.5s ease-in-out;
    background:#e91e63;
    color:white;
    
}

.btn1{
    padding:8px;
    background: rgba(0, 0, 0, 0.816);
    color: white;
    border-radius:1px;
    cursor: pointer;
    font-weight:600;
    border:1px solid  black;
        width:40%;

}
.btn1:hover{
    transition:all 0.5s ease-in-out;
    background:rgb(255, 254, 254);
    color:#000000;
    
}

.webimg img{
   width:98%;
   height:50vh;
   margin-left: 10px;
   margin-bottom: 10px;
   border-radius: 2px;
}